{% extends 'base.html' %}
{% load static %}

{% block title %}Search Cards{% endblock %}

{% block content %}
<div class="card-default">
    <ul class="nav nav-list flex-column">
        <li class="nav-item"><h3>Search Cards</h3></li>
        <br>
        <form>
        <li class="nav-item">
          <input type="search" class="input-small search-query"
               name="suggestion" value="" id="suggestion" style="max-width: 95%; margin-left:auto; margin-right:auto;">
        </li>
        </form>
    </ul>
</div>

<div id="cards">
</div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'cards/js/search-cards.js' %}"></script>
{% endblock %}
