{% extends 'base.html' %}
{% load static %}

{% block title %}Card: {{ card.title }}{% endblock %}

{% block content %}
<div class="card-default">

    <table id='bingo-card'>
        <thead><tr><th colspan="5"><h1>{{ card.title }}</h1></th></tr></thead>
        <tbody>
            <tr id="row-number-one">
            {% for square in squares %}
                <td id='square-number-{{ forloop.counter }}' class="no-select">{{ square }}</td>
                {% if forloop.counter == 25 %}
                {% elif forloop.counter|divisibleby:5 %}
                </tr><tr id='row-number-{{ forloop.counter }}'>
                {% endif %}
            {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

{% if card.creator.profile %}
    <div class="card-default profile-sidebar">
        {% if card.creator.profile.picture %}
          <a href="{% url 'auth_extension:profile_view' card.creator.profile.pk %}">
            <img class="profile-picture" src="{{ card.creator.profile.picture.url }}" alt="{{ card.creator.username }}">
          </a>
        {% else %}
            <a href="{% url 'auth_extension:profile_view' card.creator.profile.pk %}">
              <img class="profile-picture" src="{% static 'images/sillhouette.png' %}" alt="{{ card.creator.user.username }}">
            </a>
        {% endif %}
        <section class="profile-info">
            <h5>Creator:</h5>
            <h6>
                <a href="{% url 'auth_extension:profile_view' card.creator.profile.pk %}">
                    {{ card.creator.username }}
                </a>
            </h6>
        </section>
    </div>
{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'cards/js/detail.js' %}"></script>
{% endblock %}
