{% extends 'base.html' %}

{% block title %}My Cards{% endblock %}

{% block content %}

<div class="card-default">
    <h1>My Cards</h1>
</div>

{% if cards %}
    <section class="profile-card-list">
    {% for card in cards %}
        <div class="card-list">
            <ul>
                <li><a href="{% url 'cards:card_detail' card.pk %}"><h5>{{ card.title }}</h5></a></li>
                <li><a href="{% url 'cards:card_update' card.pk %}">Edit</a></li>
            </ul>
        </div>
    {% endfor %}
</section>
{% else %}
    <section class="card-list">
      <h5>No Bingo Cards yet.</h5>
    </section>
{% endif %}
{% endblock %}
