{% extends 'base.html' %}
{% load static %}

{% block title %}Profiles{% endblock %}


{% block content %}

<div class="card-default">
    {% if profile.picture %}
        <img class="profile-picture detail" src="{{ profile.picture.url }}" alt="{{ profile.user.username }}">
    {% endif %}
    <section class="profile-detail">
        <h1>{{ profile.user.username }}</h1>
        <br>
        {% if profile.about_me %}
            <p>{{ profile.about_me }}</p>
        {% endif %}
        {% if profile.website %}
            <p><a href="{{ profile.website }}" target="blank">{{profile.user.username}}&rsquo;s Website</a></p>
        {% endif %}
    </section>
</div>

<div class="card-default"><h3>My Bingo Cards:</h3></div>

{% if not profile.user.bingo_cards.all %}

<div class="card-default">
    <h3>Coming Soon!</h3>
</div>

{% else %}
    <section class="profile-card-list">
    {% for card in profile.user.bingo_cards.all %}
        <div class="card-list">
            <a href="{% url 'cards:card_detail' card.pk %}"><h5>{{ card.title }}</h5></a></li>
        </div>
    {% endfor %}
    </section>

{% endif %}

{% endblock %}
