{% extends 'base.html' %}
{% load static %}

{% block title %}My Account{% endblock %}

{% block content %}
<div class="card-default">
  <h2>Account Settings</h2>
</div>

<div class="card-default">
  <h3>Account Info</h3>
  <ul>
    <li><strong>Username</strong> {{ user.username }}</li>
    <li><strong>Email</strong> {{user.email}} </li>
    <li>
      <a href="{% url 'registration:auth_password_change' %}">Change Password</a>
    </li>
  </ul>
</div>

<div id="social-login-wrapper">
  <div class="card-default">
    <h3>GitHub</h3>
    {% if github_login %}
      <p>Connected as:</p>
      <p><h6><a href="https://github.com/{{ github_login.extra_data.login }}/" target="_blank">{{ github_login.extra_data.login }}</a></h6></p>
      {% if can_disconnect %}
        <form method="post" action="{% url 'social:disconnect' 'github' %}">
          {% csrf_token %}
          <input class="social-button" type="image" src="{% static 'icons/social/github-disconnect.png' %}">
        </form>
      {% else %}
        <input class="social-button" class="social-button" type="image" src="{% static 'icons/social/github-disconnect.png' %}" disabled>
        <p style="color: red">You must <a href="{% url 'auth_extension:password' %}">define a password</a> for your account before disconnecting from Github.</p>
      {% endif %}
    {% else %}
      <p>Your account is not currently connected to GitHub.</p>
      <a href="{% url 'social:begin' 'github' %}">
        <img class="social-button" src="{% static 'icons/social/github-connect.png' %}" alt="Connect to GitHub">
      </a>
    {% endif %}
  </div>

  <div class="card-default">
    <h3>Twitter</h3>
    {% if twitter_login %}
      <p>Connected as:</p>
      <h6>
        <a href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/" target="_blank">@{{ twitter_login.extra_data.access_token.screen_name }}</a>
      </h6>
      {% if can_disconnect %}
        <form method="post" action="{% url 'social:disconnect' 'twitter' %}">
          {% csrf_token %}
          <input class="social-button" type="image" src="{% static 'icons/social/twitter-disconnect.png' %}">
        </form>
      {% else %}
        <input class="social-button" type="image" src="{% static 'icons/social/twitter-disconnect.png' %}" disabled>
        <p style="color: red">You must <a href="{% url 'auth_extension:password' %}">define a password</a> for your account before disconnecting from Twitter.</p>
      {% endif %}
    {% else %}
      <p>Your account is not currently connected to Twitter.</p>
      <a href="{% url 'social:begin' 'twitter' %}">
        <img class="social-button" src="{% static 'icons/social/twitter-connect.png' %}" alt="Connect to Twitter">
      </a>
    {% endif %}
  </div>

  <div class="card-default">
    <h3>Facebook</h3>
    {% if facebook_login %}
      <p>Connected as:</p>
      <h6><a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a></h6>
      {% if can_disconnect %}
        <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
          {% csrf_token %}
          <input class="social-button" type="image" src="{% static 'icons/social/facebook-disconnect.png' %}">
        </form>
      {% else %}
        <input class="social-button" type="image" src="{% static 'icons/social/facebook-disconnect.png' %}" disabled>
        <p style="color: red">You must <a href="{% url 'auth_extension:password' %}">define a password</a> for your account before disconnecting from Facebook.</p>
      {% endif %}
    {% else %}
      <p>Your account is not currently connected to Facebook.</p>
      <a href="{% url 'social:begin' 'facebook' %}">
        <img class="social-button" src="{% static 'icons/social/facebook-connect.png' %}" alt="Connect to Facebook">
      </a>
    {% endif %}
  </div>
</div>

{% endblock %}
