html {
  height: 100%;
  overflow-y: scroll; }

body {
  background-color: #eee;
  color: #101010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  body strong {
    font-weight: 700; }

nav, footer {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

body {
  line-height: 1.4; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cutive';
  margin-bottom: 20px; }

h1 {
  font-size: 2.98598rem; }
  @media (max-width: 768px) {
    h1 {
      font-size: 2.68739rem; } }
  @media (max-width: 576px) {
    h1 {
      font-size: 2.38879rem; } }

h2 {
  font-size: 2.48832rem; }
  @media (max-width: 768px) {
    h2 {
      font-size: 2.23949rem; } }
  @media (max-width: 576px) {
    h2 {
      font-size: 1.99066rem; } }

h3 {
  font-size: 2.0736rem; }
  @media (max-width: 768px) {
    h3 {
      font-size: 1.86624rem; } }
  @media (max-width: 576px) {
    h3 {
      font-size: 1.65888rem; } }

h4 {
  font-size: 1.728rem; }
  @media (max-width: 768px) {
    h4 {
      font-size: 1.5552rem; } }
  @media (max-width: 576px) {
    h4 {
      font-size: 1.3824rem; } }

h5 {
  font-size: 1.44rem; }
  @media (max-width: 768px) {
    h5 {
      font-size: 1.296rem; } }
  @media (max-width: 576px) {
    h5 {
      font-size: 1.152rem; } }

h6 {
  font-size: 1.2rem; }
  @media (max-width: 768px) {
    h6 {
      font-size: 1.08rem; } }
  @media (max-width: 576px) {
    h6 {
      font-size: 1rem; } }

body {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1rem; }
  @media (max-width: 768px) {
    body {
      font-size: 1rem; } }
  @media (max-width: 576px) {
    body {
      font-size: 1rem; } }

.card-default, .profile-sidebar, .card-list, .card-inverted, footer, nav {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1); }

.card-default, .profile-sidebar, .card-list, .card-inverted {
  border-radius: 5px;
  padding: 30px;
  margin: 5px 0px;
  display: block; }
  .card-default ul, .profile-sidebar ul, .card-list ul, .card-inverted ul {
    margin-bottom: 0px; }
  @media (max-width: 576px) {
    .card-default, .profile-sidebar, .card-list, .card-inverted {
      padding: 20px; } }

.card-default, .profile-sidebar, .card-list {
  background-color: #f8f9fa; }

.card-inverted {
  background-color: #101010;
  color: #f8f9fa; }

footer {
  padding: 30px;
  background-color: #f8f9fa;
  text-align: center; }
  footer ul {
    list-style-type: none;
    padding: 0;
    display: inline-block; }

nav {
  min-width: 100%;
  background-color: #f8f9fa; }

.navbar-brand img {
  max-height: 50px; }

.nav-link {
  color: #888888;
  text-decoration: none;
  padding: 4px; }
  .nav-link:hover {
    color: #101010; }

.profile-sidebar {
  float: left;
  margin-right: 5px;
  width: 95%;
  min-width: 280px;
  max-width: 300px;
  position: relative; }
  @media (max-width: 768px) {
    .profile-sidebar {
      margin-left: 10px; } }
  .profile-sidebar ul {
    list-style-type: none; }
  .profile-sidebar h6 {
    font-size: 1rem; }
    @media (max-width: 768px) {
      .profile-sidebar h6 {
        font-size: 1rem; } }
    @media (max-width: 576px) {
      .profile-sidebar h6 {
        font-size: 1rem; } }

.profile-picture {
  width: 50%;
  min-width: 50px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  float: left;
  vertical-align: middle; }

.profile-info {
  float: right;
  text-align: right;
  width: 45%;
  min-width: 120px; }

.card-list ul {
  list-style-type: none;
  position: relative;
  left: 20px; }

.card-list .profile-picture {
  max-height: 75px;
  max-width: 75px; }

.call-to-action, form .btn.btn-primary, .contact_form .btn.btn-primary {
  display: inline-block;
  color: #f8f9fa;
  background-color: purple;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 20px; }
  .call-to-action:hover, form .btn.btn-primary:hover, .contact_form .btn.btn-primary:hover {
    text-decoration: none;
    background-color: blue;
    color: #f8f9fa;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out; }

.title {
  margin-bottom: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem; }
  @media (max-width: 768px) {
    .title {
      font-size: 1.08rem; } }
  @media (max-width: 576px) {
    .title {
      font-size: 1rem; } }

.h1-logo {
  height: 4.29982rem;
  display: inline-block; }

form label, .contact_form label {
  font-weight: bold;
  margin-bottom: 3px;
  display: block; }

form input, .contact_form input, form textarea, .contact_form textarea, form select, .contact_form select {
  margin-bottom: 10px; }

form a + input[type=checkbox], .contact_form a + input[type=checkbox] {
  margin-left: 25px; }

form input[type=checkbox], .contact_form input[type=checkbox] {
  display: inline-block; }

form input[type=checkbox] + label, .contact_form input[type=checkbox] + label {
  display: inline-block; }

form .btn.btn-primary:hover, .contact_form .btn.btn-primary:hover {
  background-color: purple; }

#bingo-card, #bingo-card th, #bingo-card td {
  border: 1px solid #101010;
  padding: 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#bingo-card {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 768px) {
    #bingo-card {
      max-width: 300px; } }
  #bingo-card th {
    padding: 30px;
    padding-top: 40px;
    background-color: purple;
    color: #f8f9fa;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (max-width: 768px) {
      #bingo-card th {
        padding: 20px; }
        #bingo-card th h1 {
          font-size: 1.728rem; } }
    @media (max-width: 768px) and (max-width: 768px) {
      #bingo-card th h1 {
        font-size: 1.5552rem; } }
    @media (max-width: 768px) and (max-width: 576px) {
      #bingo-card th h1 {
        font-size: 1.3824rem; } }
    #bingo-card th h1 {
      margin-bottom: 0px; }
  #bingo-card td {
    width: 18%;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer; }
    @media (max-width: 768px) {
      #bingo-card td {
        font-size: .8rem;
        word-wrap: break-all;
        padding: 3px; } }
  #bingo-card tr {
    height: 7.43008rem; }
    @media (max-width: 768px) {
      #bingo-card tr {
        height: auto; } }
  #bingo-card .clicked-square {
    background-color: green;
    color: #f8f9fa; }

#bingo_square_form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0px; }

#bingo_square_form > div:nth-child(2) {
  display: none; }

main {
  max-width: 1140px;
  width: 100%; }
  @media (max-width: 1140px) {
    main {
      max-width: 992px; } }
  @media (max-width: 992px) {
    main {
      max-width: 768px; } }
  @media (max-width: 768px) {
    main {
      max-width: 576px; } }

.content {
  width: calc(100% - 305px);
  min-width: 315px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.content.unauthenticated_content {
  display: block;
  width: 100%;
  float: none; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 30px; }
  footer section {
    min-width: 300px; }

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px; }
  .social-list li {
    display: inline-block;
    float: left; }
  .social-list img {
    max-height: 40px;
    margin: 5px; }

.contact_form {
  width: 100%; }
  .contact_form input.textinput, .contact_form input.emailinput {
    min-width: 95%; }
  .contact_form textarea {
    width: 95%; }

.profile-picture.detail {
  max-width: 200px;
  max-height: 200px; }
  @media (max-width: 768px) {
    .profile-picture.detail {
      float: none;
      margin-left: auto;
      margin-right: auto; } }

.profile-detail {
  display: block;
  position: relative;
  left: 30px;
  width: calc(100% - 30px); }
  @media (max-width: 768px) {
    .profile-detail {
      display: static;
      left: 0px;
      top: 30px; }
      .profile-detail br {
        display: none; } }

.profile-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .profile-card-list .card-list {
    display: block;
    width: 33%; }
    @media (max-width: 768px) {
      .profile-card-list .card-list {
        width: 100%;
        margin-right: 0px; } }
    .profile-card-list .card-list ul {
      padding: 0; }

/*# sourceMappingURL=style.css.map */
