form
  label
    font-weight: bold
    margin-bottom: 3px
    display: block

  input, textarea
    margin-bottom: 10px

  a + input[type=checkbox]
    margin-left: 25px

  input[type=checkbox]
    display: inline-block

  input[type=checkbox] + label
    display: inline-block

  .btn.btn-primary
    @extend .call-to-action

    &:hover
      background-color: blue
