{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="card-default title">
    <h1>Welcome to Bingo</h1>
    <p>
      Have you ever been stuck in a boring class with nothing to do? Are you looking for a fun party game?
      Look no further! Thanks to a guy with too much dedication you can make your own bingo cards right here.
    </p>
      {% if user.is_authenticated %}
        <a class="call-to-action" href="{% url 'cards:card_create' %}">Create a Bingo Card</a>
      {% else %}
        <a class="call-to-action" href="{% url 'registration:registration_register' %}">Sign Up</a>
      {% endif %}
    </ul>
  </div>

  <hr>

  <!-- list most recent cards -->
  {% for card in card_list %}
    <section class="card-list">
      <img class="profile-picture" src="{{ card.creator.profile.picture.url }}" alt="{{ card.creator.user.username }}">
      <ul>
        <li><a href="{% url 'cards:card_detail' card.pk %}"><h5>{{ card.title }}</h5></a></li>
        <li>Creator: <a href="{% url 'auth_extension:profile_view' card.creator.pk %}">{{ card.creator.username }}</a></li>
      </ul>
    </section>
  {% endfor %}
  <!-- endlist -->

{% endblock %}
