{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="card-default title">
    <h1>Welcome to <img class="h1-logo" src="{% static 'icons/logo-100px.png' %}" alt="BINGO"></h1>
    <p>
      Have you ever been stuck in a boring class with nothing to do? Are you looking for a fun party game?
      Look no further! Thanks to a guy with too much dedication you can make your own bingo cards right here.
    </p>
      {% if user.is_authenticated %}
        <a class="call-to-action" href="{% url 'cards:card_create' %}">Create a Bingo Card</a>
      {% else %}
        <a class="call-to-action" href="{% url 'registration:auth_login' %}">Log In</a>
        <a class="call-to-action" href="{% url 'registration:registration_register' %}">Sign Up</a>
      {% endif %}
    </ul>
  </div>

  <hr>

  <!-- list most recent cards -->
  {% if card_list %}
    {% for card in card_list %}
      <section class="card-list">
        {% if card.creator.profile.picture %}
          <img class="profile-picture" src="{{ card.creator.profile.picture.url }}" alt="{{ card.creator.user.username }}">
        {% else %}
          <img class="profile-picture" src="{% static 'images/sillhouette.png' %}" alt="{{ card.creator.user.username }}">
        {% endif %}
        <ul>
          <li><a href="{% url 'cards:card_detail' card.pk %}"><h5>{{ card.title }}</h5></a></li>
          <li>Creator: <a href="{% url 'auth_extension:profile_view' card.creator.pk %}">{{ card.creator.username }}</a></li>
        </ul>
      </section>
    {% endfor %}
  {% else %}
    <section class="card-list">
      <h5>No Bingo Cards yet.</h5>
    </section>
  {% endif %}
  <!-- endlist -->

{% endblock %}
