{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="card">
    <h1>Header 1</h1>
    <h2>Header 2</h2>
    <h3>Header 3</h3>
    <h4>Header 4</h4>
    <h5>Header 5</h5>
    <h6>Header 6</h6>
  </div>

  <div class="card-inverted">
    <p>Regular paragraph</p>
    <p><em>Emphasized text</em></p>
    <p><strong>Strong text</strong></p>
    <p><a href="#">Anchor Text</a></p>
    <p><code>Code Sample</code></p>
  </div>

  <div class="card">
    <p>
      Consecutive paragraphs will need to be spaced properly in order to maintain readability. Severl factors will need to be considered in styling such as: Line-height,
      letter spacing, font size, and more.
    </p>
    <p>
      I set the tab-size for html files to 2 spaces. I'm not sure why my tabs are still 4 spaces long. I really really need to fix that for html editing.
      Having 4-space wide tabs will result in an incredible amount of clutter because html elements tend to need to be nested more deeply than python or
      javascript.
    </p>
  </div>

{% endblock %}
