.contact_form
  width: 100%

  label
    font-weight: bold
    margin-bottom: 3px

  input
    min-width: 95%
    margin-bottom: 10px

  textarea
    width: 95%

  .btn.btn-primary
    background-color: purple
    border: none

    &:hover
      background-color: blue
