{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<div class="card-default form-wrapper">
    <h5>Create an Account:</h5>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}" />
    </form>
</div>

<div class="card-default">
    <h5>Or:</h5>
    <a  href="{% url 'social:begin' 'github' %}">
        <img class="social-button" src="{% static 'icons/social/github-login.png' %}" alt="Log in with GitHub">
    </a>
    <a href="{% url 'social:begin' 'twitter' %}">
        <img class="social-button" src="{% static 'icons/social/twitter-login.png' %}" alt="Log in with Twitter">
    </a>
    <a href="{% url 'social:begin' 'facebook' %}">
        <img class="social-button" src="{% static 'icons/social/facebook-login.png' %}" alt="Log in with Facebook">
    </a>
</div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
